$defaultFont: 'Roboto', sans-serif;
$systemFont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;

// IMPORT SECTION

@use 'color-kit';
@use "_mixins/rem" as *;
@use "_mixins/font-face" as *;
@use '_mixins/breakpoints' as *;

// THEMING SECTION

@each $theme-name, $theme in color-kit.$themes {
	.#{ $theme-name }-theme {
		@each $name, $color in $theme {
			--#{ $name }: #{$color};
		}
	}
}

// FONTS LOAD SECTION

@include font-face('Montserrat', normal, 500, '../assets/fonts/Montserrat/Montserrat-Medium.woff2');

@include font-face('Roboto', normal, 300, '../assets/fonts/Roboto/Roboto-Light.woff2');
@include font-face('Roboto', normal, 400, '../assets/fonts/Roboto/Roboto-Regular.woff2');
@include font-face('Roboto', normal, 500, '../assets/fonts/Roboto/Roboto-Medium.woff2');
@include font-face('Roboto', normal, 700, '../assets/fonts/Roboto/Roboto-Bold.woff2');
@include font-face('Roboto', normal, 800, '../assets/fonts/Roboto/Roboto-Black.woff2');

// GENERAL CSS SETTINGS

* {
	transition: color 0.3s ease, background-color 0.3s ease;
}

html {
	font-size: 16px;
}

body {
	position: relative;
	overflow-x: hidden;

	min-width: 320px;
	min-height: 100dvh;

	padding: 0;
	margin: 0;

	font-family: $defaultFont;
	line-height: 1.4;

	color: var(--text);
	background-color: var(--neutral-90);
}

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 16px;
	box-sizing: border-box;

	@each $breakpoint, $max-width in reverse($container-max-width) {
		@include container-breakpoints(max-width, ($breakpoint: $max-width,));
	}
}

.list-style-none {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

@include media-breakpoint-down(lg) {
	html {
		font-size: 14px;
	}
}