@use '../config' as *;

input {
    min-width: none;
    width: 100%;
    padding: 0;

    border: 0;
    background: none;
    box-sizing: border-box;

    font-family: $defaultFont;
    font-size: 13px;

    outline: none;
}